<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Quotes by Doris</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

    <h1>QUOTES APPLICATION</h1>
    <br>
    <h3>These are the available Routes:</h3>
    <br>
    <ul>
        <li><h4><a href="/quotes"> /quotes  </a></h4></li>
        
        <li><h4><a href="/authors"> /authors  </a></h4></li>

        <li><h4><a href="/authors/Marilyn Monroe"> /authors/&ltauthor name&gt</a></h4></li>

        <li><h4><a href="/tags"> /tags </a></h4></li>

        <li><h4><a href="/tags/love"> /tags/&lttag&gt</a></h4></li>
        
        <li><h4><a href="/top10tags"> /top10tags </a></h4></li>

    </ul>
  
</body>

</html>